.organizar{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-template-areas: "box1 box2"
                         "box3 box4";
    justify-content: center;
    background-color:springgreen;
}
.box1{
    
    grid-area: box1;
    background-color: #00F2A0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}
.box2{
    
    grid-area: box2;
    background-color: #00F2A0;
    width:100%;
    height:100%;
    padding:5%; 

    display:flexbox;
    align-items: center;
    justify-content: center;
}
.box3{
    grid-area: box3;
    background-color:#00F2A0;
    width:100%;
    height: 100%;
    display:table; 
    align-items: center;
    text-align: center;
}
.box4{
    grid-area: box4;
    background-color: #00F2A0;
    width:100%;
    height: 100%;
    display: block;
    text-align: center;
    
}
.centrar{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:white;
    border-radius:5px;
}

.btn_dimension_start{
    position: relative;
    width:50%;
    height:30%;
    top: 25%;
    border-radius:3px;
    background-color: cornflowerblue
}
.btn_dimension_stop{
    position: relative;
    width:50%;
    height:30%;
    top: 25%;
    border-radius:3px;
    background-color: rgb(250, 113, 113);
}


.Correct_plays{
    border:2px solid black;
    background:  linear-gradient(to right, #D5F200, #f29900);
    border-radius:100%;
    height:50px;
    width:50px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.Incorrect_plays{
    border:2px solid black;
    background:  linear-gradient(to right, palevioletred, red);
    border-radius:100%;
    height:50px;
    width:50px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.Container_Score{
    display:flex;
    align-items:center;
    justify-content:center;
}